

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: #333;
  background-color: #bdbbbb;

}

  ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


 a {
text-decoration: none;
}






/* ================= NAVBAR ================= */

.Navbar {
    width: 100%;
    background-color: #fff;
}

.container-nav {
    width: 100%;
    padding: 21px 165px;
    box-sizing: border-box;
}

.row {
    min-height: 40px;
    display: flex;
    align-items: center;
}


/* ================= MENU ================= */

.menu {
    display: none;
}

.btn {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.btn img {
    width: 24px;
    height: 24px;
    display: block;
}


/* ================= LOGO ================= */

.logo {
    width: 145px;
    height: 40px;
}

.logo img {
    width: 100%;
    height: 100%;
    display: block;
}


/* ================= LINKS ================= */

.Links {
    margin-left: auto;
    margin-right: auto;
}

.Links ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Links a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}


/* ================= ICONS ================= */

.icons ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.icons li {
    display: flex;
}

.icons img {
    width: 24px;
    height: 24px;
    display: block;
    
}




/* ================= PHONE ================= */
@media (min-width: 320px) and (max-width: 767px) {

    .container-nav {
        padding: 20px;
    }

    .row {
        justify-content: space-between;
    }

    /* Menu */
    .menu {
        display: block;
    }

    /* Logo */
    .logo {
        width: 120px;
        height: auto;
    }

    /* Links */
    .Links {
        display: none;
    }

    /* Icons */
    .icons ul {
        gap: 0;
    }

    .icons .hidden {
        display: none;
    }

    /* أول icon- Search */
    .icons li:first-child {
        display: flex;
    }
}









/* ================= TABLET  ================= */

@media (min-width: 768px) and (max-width: 1024px) {

    .container-nav {
        padding: 20px 40px;
    }

    .Links ul {
        gap: 20px;
    }

    .icons ul {
        gap: 12px;
    }

    .logo {
        width: 130px;
        height: auto;
    }
}








/* ================= COLLECTION ================= */

.collection-section {
    width: 100%;
}

.container-collection {
    width: 100%;
    padding: 80px 165px;
    box-sizing: border-box;
    background-color: #eee8e8;
    border-radius: 6px;
    cursor: pointer;
}

.collection-section .row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.collection {
    width: calc(100% / 4);
    text-align: center;
}

.collection img {
    width: 100%;
    display: block;
    border-radius: 6px;
    border: 1px solid  #bbbbbb;
}

.collection h2 {
    font-size: 20px;
    margin: 15px;
    text-align: center;
}




/* ================= PHONE ================= */
@media (min-width: 320px) and (max-width: 767px) {

    .container-collection {
        width: 100%;
        padding: 40px 20px;
    }

    .collection-section .row {
        flex-wrap: wrap;
        gap: 30px 15px;
    }

    .collection {
        width: calc(50% - 7.5px);
    }

    .collection h2 {
        font-size: 14px;
        margin: 10px;
    }
}


/* ======================= tablet ========================*/
@media (min-width: 768px) and (max-width: 1024px) {

    .container-collection {
        width: 100%;
        padding: 60px 40px;
    }

    .collection-section .row {
        gap: 20px;
    }

    .collection {
        width: calc(100% / 4);
    }

    .collection h2 {
        font-size: 18px;
    }
}






/* ================= BEST SELLERS ================= */


.section-bestsellers {
    width: 100%;
    padding: 66px 0;
    background-color: #cacaca;
    align-items: center;
    justify-content: space-between;
    
    
}

.section-bestsellers h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    margin: 0 0 50px;
    line-height: 36px;
}


/* ===== First Container ===== */

.container-sec {
    width: 1440px;
    padding: 0 165px;
    margin: 0 auto;
    box-sizing: border-box;
  
}


/* ===== Second Container ===== */

.container-sec2 {
    width: 1440px;
    padding: 0 165px;
    margin: 60px auto 0;
    box-sizing: border-box;
}


/* ===== Products Row ===== */

.row-products {
    display: flex;
    gap: 30px;
}


/* ===== Product ===== */

.product {
    width: calc((100% - 90px) / 4);
  
}


/* ===== Image ===== */

.product img {
    width: 100%;
    height: 440px;
    display: block;
    cursor: pointer;
    border-radius: 10px;
      border: 1px solid  #bbbbbb;
    
}


/* ===== Product Name ===== */

.product h3 {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin: 20px 0 8px;
    text-transform: uppercase ;
    
}


/* ===== Price ===== */

.product h4 {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    margin: 0 0 15px;
}


/* ===== Description ===== */

.product p {
    font-size: 13px;
    line-height: 1.5;
    text-align: left;
    margin: 0 0 20px;
}


/* ===== Button ===== */

.addtocart {
    width: 100%;
    padding: 12px 20px;

    background-color: #000;
    color: #fff;

    border: 1px solid #000;
    

    font-size: 13px;
    font-weight: 500;

    cursor: pointer;
}

.addtocart:hover {
    background-color: transparent;
    color: #000;
}


/*-============================ MOBILE ==================*/
@media (min-width: 320px) and (max-width: 767px) {

    .section-bestsellers {
        padding: 40px 0;
    }

    .section-bestsellers h2 {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 30px;
    }

    .container-sec,
    .container-sec2 {
        width: 100%;
        padding: 0 20px;
    }

    .container-sec2 {
        margin-top: 40px;
    }

    .row-products {
        display: flex;
        flex-wrap: wrap;
        gap: 30px 10px;
    }

    .product {
        width: calc(50% - 7.5px);
    }

    .product img {
        height: 180px;
        border-radius: 8px;
    }

    .product h3 {
        font-size: 12px;
        line-height: 16px;
        margin: 12px 0 6px;
    }

    .product h4 {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .product p {
        font-size: 10px;
        line-height: 1.4;
        margin-bottom: 15px;
    }

    .addtocart {
        padding: 8px 8px;
        font-size: 10px;
    }
}


/*================ tablet =================*/
@media (min-width: 768px) and (max-width: 1024px) {

    .section-bestsellers {
        padding: 55px 0;
    }

    .section-bestsellers h2 {
        font-size: 26px;
        margin-bottom: 40px;
    }

    .container-sec,
    .container-sec2 {
        width: 100%;
        padding: 0 40px;
    }

    .container-sec2 {
        margin-top: 50px;
    }

    .row-products {
        gap: 20px;
    }

    .product {
        width: calc((100% - 60px) / 4);
    }

    .product img {
        height: 250px;
    }

    .product h3 {
        font-size: 14px;
        margin-top: 15px;
    }

    .product h4 {
        font-size: 14px;
    }

    .product p {
        font-size: 12px;
    }

    .addtocart {
        padding: 10px 15px;
        font-size: 12px;
    }
}



/* ================= FOOTER ================= */

footer {
    width: 100%;
    background-color: #3A3845;
    color: #fff;
}


/* ===== Footer Container ===== */

.footer-container {
    width: 1445px;
    padding: 60px  165px ;
    margin: 0 auto;
    box-sizing: border-box;
    height: 370px;
    display: flex;
    justify-content: space-between;
}


/* ===== Footer About ===== */

.footer-about {
    width: 30%;
    border-right: 1px solid #c0bfbf;
    padding-right: 100px;
    box-sizing: border-box;
}

.footer-about img {
    width: 145px;
    height: 38.33px;
    display: block;
    margin-bottom: 20px;
    background-color: #cacaca;
}

.footer-about p {
    width: 250px;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 25px;
    
}

.footer-about .btn {
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    font-size: 12px;
}


/* ===== Footer Columns ===== */

.footer-column {
    width: 18%;
}

.footer-column h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 20px;
    font-style: semibold;
    line-height: 22px;
    letter-spacing: 6%;
    text-transform: uppercase;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 12px;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;

}

.footer-column a:hover {
    text-decoration: underline;
}


/* ===== Bottom Footer ===== */

.footer-bottom {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px 0;
    text-align: center;
    box-sizing: border-box;
}

.footer-bottom p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    font-style: solid;
    line-height: 22px;
    color: #6D758F;

}

.footer-bottom a {
    color: #6D758F;
    text-decoration: underline;
}



/*====================== Mobile ===========*/
@media (min-width: 320px) and (max-width: 767px) {

    footer {
        width: 100%;
    }

    .footer-container {
        width: 100%;
        height: auto;
        padding: 40px 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 35px 15px;
    }

    /* ===== About ===== */

    .footer-about {
        width: 100%;
        padding-right: 0;
        padding-bottom: 30px;
        border-right: none;
        border-bottom: 1px solid #c0bfbf;
    }

    .footer-about img {
        width: 120px;
        height: auto;
    }

    .footer-about p {
        width: 100%;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .footer-about .btn {
        padding: 9px 15px;
        font-size: 11px;
    }


    /* ===== Columns ===== */

    .footer-column {
        width: calc((100% - 30px) / 3);
    }

    .footer-column h3 {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 15px;
        letter-spacing: 1px;
    }

    .footer-column li {
        margin-bottom: 8px;
    }

    .footer-column a {
        font-size: 10px;
        line-height: 18px;
    }


    /* ===== Bottom ===== */

    .footer-bottom {
        padding: 15px 15px;
    }

    .footer-bottom p {
        font-size: 10px;
        line-height: 18px;
    }

}



/*============= tablet =====================*/
@media (min-width: 768px) and (max-width: 1024px) {

    footer {
        width: 100%;
    }

    .footer-container {
        width: 100%;
        height: auto;
        padding: 50px 40px;
        gap: 30px;
    }

    .footer-about {
        width: 30%;
        padding-right: 30px;
    }

    .footer-about img {
        width: 120px;
        height: auto;
    }

    .footer-about p {
        width: 100%;
        font-size: 12px;
        line-height: 20px;
    }

    .footer-about .btn {
        padding: 9px 15px;
        font-size: 11px;
    }

    .footer-column {
        width: 20%;
    }

    .footer-column h3 {
        font-size: 14px;
        margin-bottom: 18px;
    }

    .footer-column a {
        font-size: 12px;
        line-height: 20px;
    }

    .footer-column li {
        margin-bottom: 10px;
    }

    .footer-bottom {
        padding: 18px 20px;
    }

    .footer-bottom p {
        font-size: 12px;
        line-height: 20px;
    }
}